<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contatos{% endblock %}</title>
</head>

<body>
    <header>
        <h1>{% block page %}Contatos{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_user') }}">Novo contato</a></li>
            </ul>
        </nav>

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>